{% extends "base.html" %}
{% block title %}阅读{% end %}
{% block nav%}
    <li role="presentation" class="active"><a href="/article/list">阅读</a></li>
    <!--<li role="presentation"><a href="/share">分享</a></li>-->
    {% if current_user %}
      <li role="presentation"><a href="/user/{{ current_user['uid'] }}">{{ current_user['name'] }}</a></li>
    {% else %}
      <li role="presentation"><a href="/">登录</a></li>
    {% end %}
{% end %}

{% block content %}
{% for i, article in enumerate(articles_list) %}
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="{{ article.author.avatar + '-avatar128.128'}}" onError="this.src='{{ static_url('default_avatar.jpg') }}';" width="40px">
        </a>
      </div>

      <div class="media-body">
        <h5 class="media-heading"><a href="/article/read/{{ article.warp_id }}" style="color: #000000">{{ (page-1)*count+i+1 }}. {{article.title}}</a></h5>
        <span style="color: #828282;"><a target="_blank" href="{{ article.source_url }}" style="color: #828282"> • {{ article.show_source_url }}</a> • {{ article.author.name }} • {{ article.zh_title }} • {{ article.create_time }}</span>
      </div>

      <div class="media-right">
        <a href="#">
          <span class="badge">{{ article.read_times }}</span>
        </a>
      </div>
    </div>
{% end %}
    <nav>
        <ul class="pager">
            {% if page != 1 %}
                <li class="previous holle-world-index"><a href="/article/list?page={{ page-1 }}"><span aria-hidden="true">&larr;</span> 上一页️</a></li>
            {% end %}
            {% if has_more %}
                <li class="next holle-world-index"><a href="/article/list?page={{ page+1 }}">下一页 <span aria-hidden="true">&rarr;</span></a></li>
            {% end %}
        </ul>
    </nav>
{% end %}