<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    	<link rel="stylesheet" type="text/css" href="{{ static_url('css/stylesheet.css') }}" media="screen">
    	<link rel="stylesheet" type="text/css" href="{{ static_url('css/github-light.css') }}" media="screen">

    <link rel="icon" href="{{ static_url('favicon.ico') }}">
</head>
<body>
    <a href=""><div id="back" align="center">返回</div></a>
    <section class="main-content">
        <form id="edit-form" action="{{ path }}">
            {% module xsrf_form_html() %}
            <label>标题：</label><input type="text" name="title" value="{{ article and article['title'] or '' }}"><br>
            <label>中文标题：</label><input type="text" name="zh_title" value="{{ article and article['zh_title'] or '' }}"><br>
            <label>原文链接：</label><input type="text" name="source_url" value="{{ article and article['source_url'] or '' }}"><br>
            <textarea id="editor" name="content">
                {{ article and article['content'] or ''}}
            </textarea>
            <input type="submit" name="submit" value="发布" style="padding: 5px;"/>
        </form>
    </section>
    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/samplemde.min.css') }}" />
    <script src="{{ static_url('js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ static_url('js/samplemde.min.js') }}"></script>

    <script type="text/javascript">
        // markdown编辑器
        new SimpleMDE({
		element: document.getElementById("editor"),
		spellChecker: false
	    });

        // 提交表单
        $("#edit-form").on('submit', function (e) {
            e.preventDefault();
            var form_obj = $(this)[0];
            var flag = true; // 用来标记表单是否有空值
            var form_data = $(this).serializeArray().reduce(function(obj, item) {
                            obj[item.name] = item.value;
                            return obj;
            }, {});
            // 验证表单数据
            $.each(form_data, function(k, v) {
                if(!flag){
                    return;
                }
                if(v.trim().length == 0) {
                    flag = false;
                    if(k == 'title'){
                        alert('标题不能为空')
                    }
                    else if(k == 'zh_title'){
                        alert('中文标题不能为空')
                    }
                    else if(k == 'content'){
                        alert('内容不能为空')
                    }
                    else if(k == 'source_url'){
                        alert('原文链接不能为空')
                    }
                }
            });
            $.ajax({
                type:'POST',
                url: form_obj.action,
                data: form_data,
                beforeSend: function(){
                    return flag;
                },
                success: function() {
                    alert('提交成功！');
                    window.location.href = '/article/list';
                },
                error: function(data){
                    console.log(data);
                    alert('提交出错！');
                    window.location.reload();
               }
            });
        });

        // 返回
        $('#back').on('click', function () {
            history.back();
        })
    </script>
</body>
</html>