{% extends "base.html" %}
{% block title %}{{ title }}{% end %}
{% block include_head %}
<!-- Hightlight.css -->
<link href="{{ static_url('css/github.css') }}" rel="stylesheet">

<!-- markdown.css -->
<link href="{{ static_url('css/markdown.css') }}" rel="stylesheet">

<style>
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 5px;
}

/*翻译框样式*/
#translation-head {
    border-bottom: 1px solid #e5e5e5;
}
#translation {
    position:absolute;
    width:200px;
    background-color: gold;
    display:none;
}
</style>
{% end %}

{% block nav %}
    <li role="presentation" class="active"><a href="/article/list">返回</a></li>
    {% if current_user %}
        <li role="presentation"><a href="/user/{{ current_user['uid'] }}">{{ current_user['name'] }}</a></li>
    {% else %}
        <li role="presentation"><a href="/">登录</a></li>
    {% end %}
{% end %}

{% block content %}
{% autoescape None %}

    <div id="translation">
        <div id="translation-head"></div>
        <div id="translation-body"></div>
    </div>
    <h3 id="article_title">标题：{{ show_title }}</h3>
    <article class="markdown-body">
        {{ content }}
    </article>
    {% if can_edit %}
        <a href="/article/edit/{{ warp_id }}">编辑</a>
        <a href="javascript:void(0)" onclick="return delete_post('{{ warp_id }}')">删除</a>
    {% end %}
{% end %}

{% block include_js %}
<script src="{{ static_url('js/highlight.pack.js') }}"></script>
<script src="{{ static_url('js/translate.js') }}"></script>
<script>
function delete_post(article_id) {
    var show_title = $('#article_title').text();
    if(confirm("确认删除“"+show_title+"”吗？")){
        $.ajax({
            type:'POST',
            url: '/article/delete/' + article_id,
            success:function(data) {
               alert('删除成功！');
               window.location.href = '/article/list';
            },
            error:function(data){
               console.log(data);
               alert('删除出错！');
               window.location.reload();
            }
        });
    }
}

$('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
});
</script>
{% end %}