{% extends "base.html" %}
{% block title %}个人主页{% end %}
{% block nav%}
    <li role="presentation"><a href="/article/list">阅读</a></li>
    <!--<li role="presentation"><a href="/share">分享</a></li>-->
    {% if current_user %}
      <li role="presentation" class="active"><a href="/user/{{ current_user['uid'] }}">{{ current_user['name'] }}</a></li>
    {% else %}
      <li role="presentation"><a href="/">登录</a></li>
    {% end %}
{% end %}

{% block content %}
    <form enctype="multipart/form-data" id="form1">
        头像：<img id="blah" src="{{ user.avatar }}" onError="this.src='http://7xv88n.com1.z0.glb.clouddn.com/default_avatar.jpg';" width="64px" height="64px"><br>
        用户名：{{ user.name }}<br>
        <input id="uid" name="uid" value="{{ uid }}" hidden="">
        <input type='file' id="imgInp" name="filearg"/>
        <button id="uploadButton" data-loading-text="Loading..." class="btn btn-primary" disabled="disabled">更换头像</button>
    </form>
    <br>
    {% if user.admin %}
        <a href="/article/post"><button class="btn btn-success">发布文章</button></a>
    {% end %}
    <br>
    <br>
    <a href="/logout"><button class="btn btn-danger">登出</button></a>

{% end %}

{% block include_js %}
<script src="/static/js/profile.js"></script>
{% end %}