{% extends "base.html" %}
{% block title %}个人主页{% end %}
{% block nav%}
    <li role="presentation"><a href="/article/list">阅读</a></li>
    <!--<li role="presentation"><a href="/share">分享</a></li>-->
    {% if current_user %}
      <li role="presentation" class="active"><a href="/user/{{ current_user['uid'] }}">{{ current_user['name'] }}</a></li>
    {% else %}
      <li role="presentation"><a href="/">登录</a></li>
    {% end %}
{% end %}

{% block content %}
    <form enctype="multipart/form-data" id="form1">
        {% module xsrf_form_html() %}
        头像：<a href="javascript:void(0)" onclick="return click_avatar()"><img id="avatar_img" src="{{ user.avatar }}" onError="this.src='{{ static_url('default_avatar.jpg') }}';" width="64px" alt="defult"></a><br>
        <br>
        用户名：{{ user.name }}<br>
        <input id="uid" name="uid" value="{{ uid }}" hidden="">
        <input type='file' id="avatar_inp" name="filearg" style="display: none"/>
        <button id="uploadButton" data-loading-text="Loading..." class="btn btn-primary" disabled="disabled">更换头像</button>
    </form>
    <br>
    {% if user.admin %}
        <a href="/article/post"><button class="btn btn-success">发布文章</button></a>
        <br>
        <br>
    {% end %}
    <a href="/logout"><button class="btn btn-danger">登出</button></a>
    <h3>发布的文章：</h3>
    <table class="table table-bordered table-hover">
        <tr>
            <th></th>
            <th>标题</th>
            <th>操作</th>
        </tr>
        {% for i, article in enumerate(articles_list) %}
        <tr>
            <td>{{ i+1+(page-1)*count }}</td>
            <td><a id="{{ article.warp_id+'article_title' }}" href="/article/read/{{ article.warp_id }}">{{ article.title }}</a></td>
            <td>
                <a href="/article/edit/{{ article.warp_id }}">编辑</a>
                <a href="javascript:void(0)" onclick="return delete_post('{{ article.warp_id }}')">删除</a>
            </td>
        </tr>
        {% end %}
    </table>

    <nav>
        <ul class="pager">
            {% if page != 1 %}
                <li class="previous holle-world-index"><a href="/user/{{ user.uid }}?page={{ page-1 }}"><span aria-hidden="true">&larr;</span> 上一页️</a></li>
            {% end %}
            {% if has_more %}
                <li class="next holle-world-index"><a href="/user/{{ user.uid}}?page={{ page+1 }}">下一页 <span aria-hidden="true">&rarr;</span></a></li>
            {% end %}
        </ul>
    </nav>
{% end %}

{% block include_js %}
<script src="{{ static_url('js/profile.js') }}"></script>
<script type="text/javascript">
function getCookie(name) {
    var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
    return r ? r[1] : undefined;
}

function delete_post(article_id) {

    var show_title = $('#'+article_id+'article_title').text();
    if(confirm("确认删除“"+show_title+"”吗？")){
        $.ajax({
            type:'POST',
            url: '/article/delete/' + article_id,
            data: {'_xsrf': getCookie("_xsrf")},
            success:function(data) {
               alert('删除成功！');
               window.location.reload();
            },
            error:function(data){
               console.log(data);
               alert('删除出错！');
               window.location.reload();
            }
        });
    }
}
</script>
{% end %}