{% extends "base.html" %}
{% block title %}{{ title }}{% end %}
{% block include_head %}
<!-- Hightlight.css -->
<link href="/static/css/github.css" rel="stylesheet">

<!-- markdown.css -->
<link href="/static/css/markdown.css" rel="stylesheet">

<style>
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 5px;
}

#translation {
    position:absolute;
    width:200px;
    background-color: gold;
    display:none;
}
</style>
{% end %}

{% block nav %}
    <li role="presentation" class="active"><a href="/article/list">阅读</a></li>
    <li role="presentation"><a href="/share">分享</a></li>
    {% if current_user %}
        <li role="presentation"><a href="#">{{ current_user['nickname'] }}</a></li>
    {% else %}
        <li role="presentation"><a href="/">登录</a></li>
    {% end %}
{% end %}

{% block content %}


{% autoescape None %}
    <div id="translation">
        <p></p>
    </div>

    <article class="markdown-body">
        {{ content }}
    </article>
{% end %}

{% block include_js %}
<script src="/static/js/highlight.pack.js"></script>
<script src="/static/js/translate.js"></script>
<script>
$('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
});
</script>
{% end %}