{% extends "base.html" %}
{% block title %}阅读{% end %}
{% block nav%}
    <li role="presentation" class="active"><a href="/article/list">阅读</a></li>
    <!--<li role="presentation"><a href="/share">分享</a></li>-->
    {% if current_user %}
      <li role="presentation"><a href="/user/{{ current_user['uid'] }}">{{ current_user['name'] }}</a></li>
    {% else %}
      <li role="presentation"><a href="/">登录</a></li>
    {% end %}
{% end %}

{% block content %}
{% for i, article in enumerate(articles_list) %}
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="{{ article.author.avatar + '-avatar128.128'}}" width="64" >
        </a>
      </div>

      <div class="media-body">
        <h5 class="media-heading"><a href="/article/read/{{article.id}}" style="color: #000000">{{i+1}}. {{article.title}}</a><span style="color: #828282;"> <a href="{{ article.source_url }}">({{ str(article.source_url[7:]).split('/')[0] }})</a></span></h5>
        <span style="color: #828282;">{{ article.author.name }} post {{ article.zh_title }}</span>
        <span style="color: #828282;">at {{ article.create_time }}</span>
      </div>

      <div class="media-right">
        <a href="#">
          <span class="badge">{{ article.read_times }}</span>
        </a>
      </div>
    </div>
{% end %}
<div style="display: none"><a href="/article/post" >发布新闻！</a></div>
{% end %}