{% extends "base.html" %}
{% block title %}首页{% end %}

{% block jumbotron %}
    <h1>欢迎</h1>
      <p>这个网站叫做‘holleworld’,对的你没看错是不是长的很像‘helloworld‘。
      关于这个网站的来源，是因为我是一个英语很渣的程序员，在学习编程技术的过程中，我发现
      学好英文很重要，因为需要看英文文档。为了提高我的英语水平，我打算实现像在kindle上看
      英文内容的一个网站。</p>

    <p><a class="btn btn-primary btn-lg" href="/talk" role="button">聊天室(test) &raquo;</a></p>
{% end %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h2>功能1</h2>
        <p>实现kindle看英文内容一样的效果，可以立即翻译选中的内容。实现方法很简单，
        调用了有道词典的api。（已知问题：因为调用有道云api，所以加载文档后会第一次翻译有延时，之后就好了）
        效果如下：</p>
        <img src="/static/image/demo.png" width="350" height="231">
        <p><a class="btn btn-default" href={{ demo1 }} role="button">看看效果 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>功能2</h2>
        <p>登陆状态下，用户可以发布优秀的英文文章，中文标题，英文标题，URL(为了安
            全自动替换掉url带的参数)
        </p>
        <p><a class="btn btn-default" href={{ demo2 }} role="button">看看效果 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>功能3</h2>
        <p>这个功能高级了：用户可以登录，处于登录状态下，自动翻译选中的内容。同时
            会记录查询过的单词。预期实现的效果就像网游中不同品级的装备颜色不一样。
            查询过很多次的单词，颜色就是‘暗金色’，我认为这样有利于记忆单词！
        </p>
        <p><a class="btn btn-default" href={{ demo3 }} role="button">看看效果 &raquo;</a></p>

    </div>
</div>
{% end %}