{% extends "base.html" %}
{% block title %}首页{% end %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>欢迎</h1>
              <p>这个网站叫做‘holleworld’,对的你没看错是不是长的很像‘helloworld‘。
              关于这个网站的来源，是因为我是一个英语很渣的程序员，在学习编程技术的过程中，我发现
              学好英文很重要，因为需要看英文文档。为了提高我的英语水平，我打算实现像在kindle上看
              英文内容的一个网站。</p>

            <p><a class="btn btn-primary btn-lg" href="/talk" role="button">聊天室(test) &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>功能1</h2>
                <p>实现kindle看英文内容一样的效果，可以立即翻译选中的内容。实现方法很简单，
                调用了有道词典的api。（已知问题：因为调用有道云api，所以加载文档后会第一次翻译有延时，之后就好了）
                效果如下：</p>
                <img src="/static/image/demo.png" width="350" height="231">
                <p><a class="btn btn-default" href={{ demo1 }} role="button">看看效果 &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>功能2</h2>
                <p>抓取国外流行的一些it类资讯网站，把相关内容在本站显示，同时可以实现选词翻译。</p>
                <p><a class="btn btn-default" href={{ demo2 }} role="button">看看效果 &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>功能3</h2>
                <p>这个功能高级了：用户可以登录，处于登录状态下，会记录查询过的单词。预期实现的效果
                就像网游中不同品级的装备颜色不一样。查询过很多次的单词，颜色就是‘暗金色’，我认为
                这样有利于记住单词！
                </p>
            </div>
        </div>
    </div> <!-- /container -->
{% end %}