<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <link rel="icon" href="/static/favicon.ico">

    <title>首页</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
    <!-- Ant-design CSS -->
    <link href="/static/css/test.css" rel="stylesheet">
</head>

<body background="http://7xqirw.com1.z0.glb.clouddn.com/HelloWorld.png">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <nav>
                            <ul class="nav masthead-nav">
                                <input id='red-button' style="background-color: red" type="button" class="btn-primary" value="Red-Button">
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover" id="holleworld-about" style="color:#ffffff;">
                    <h1 class="cover-heading">Holle World</h1>
                    <p class="lead">分享国外技术文章的平台，看文章时会对选中的单词进行翻译，翻译过的单词会根据翻译的次数，以不同的颜色显示，方便加深记忆。</p>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-4" >
                            <span id="login"></span>
                        </div>
                        <div class="col-md-2 .col-md-offset-6" >
                            <span id="sign"></span>
                        </div>
                    </div>
                </div>


                <div class="mastfoot">
                    <div class="inner">
                        <p>&copy;2016 <a href="https://github.com/521xueweihan/holleworld" style="color: #999">HolleWorld</a>, by <a href="https://github.com/521xueweihan">@Xueweihan</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!--Placed at the end of the document so the pages load faster-->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/login.js"></script>
    <script>
        $('#red-button').click(function() {
           $("#holleworld-about").html("<img src=\"http://7xqirw.com1.z0.glb.clouddn.com/go_button.gif\">");
           setTimeout(function(){
               $("#holleworld-about").html("");
               top.location='/article/list';}, 3750);
        });
    </script>
</body>

</html>
