<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>首页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Ant-design CSS -->
  <link rel="stylesheet"  href="/static/css/antd.css">
  <!-- Base CSS -->
  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <div id="container">
        <div id="wrap">
            <header id="header">
                <div id="banner"></div>
                <div id="header-outer" class="outer">
                    <div id="header-title" class="inner">
                        <h1 id="logo-wrap">
                            <a href="/article/list" id="logo">Holle World</a>
                        </h1>

                        <h2 id="subtitle-wrap">
                            <a href="/article/list" id="subtitle">Reading &amp; Sharing</a>
                        </h2>
                        <div style="display: flex; margin: 1em 0;">
                            <div style="width: 45%"></div>
                                <div id="login" style="margin-left: auto;"></div>
                            <div style="width: 2%"></div>
                                <div id="sign" style="margin: auto;"></div>
                            <div style="width: 45%"></div>
                        </div>
                        <p style="margin: 2em 0;">
                            <iframe src="https://ghbtns.com/github-btn.html?user=521xueweihan&repo=holleworld&type=star&count=true" frameborder="0" scrolling="0" width="90px" height="20px"></iframe>
                        </p>
                    </div>
                </div>

            </header>

            <div id="footer">
                <div id="footer-info">
                    &copy;2016 <a href="https://github.com/521xueweihan/holleworld" style="color: #999">HolleWorld</a>, by <a href="https://github.com/521xueweihan" style="color: #2db7f5;">@Xueweihan</a>
                </div>
            </div>
        </div>
    </div>
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/login.js"></script>
</body>
</html>