{% extends "base.html" %}
{% block title %}新闻{% end %}
{% block content %}
{% autoescape None %}
<style type="text/css">
    #translation {position:absolute;width:80px;height:80px;background-color:gold;display:none;}
</style>

<div class="container">
    {% for news in news_list %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ news.title }}</h2>
        <p>{{ news.content }}</p>
        <div id="translation">
            <p></p>
        </div>
    </div><!-- /.blog-post -->
    {% end %}

    <a href="/news_edit">发布新闻！</a>
</div><!-- /.container -->
{% end %}

{% block include_js %}
<script src="/static/js/translate.js"></script>
{% end %}