{% extends "base.html" %}
{% block title %}注册{% end %}
{% block content %}
<style type="text/css">
.sample-template {
 padding-top: 50px;
}
</style>
<div class="sample-template">
    <div class="container">
        <form method="post" action="/sign">
            <div class="form-group">
                <label>邮箱</label>
                <input type="email" class="form-control" name="email" placeholder="邮箱">
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" class="form-control" name="password" placeholder="密码">
            </div>
            <div class="form-group">
                <label>昵称</label>
                <input type="text" class="form-control" name="nickname" placeholder="昵称">
            </div>
            <button type="submit" class="btn btn-default">注册</button>
        </form>
    </div>
</div>


{% end %}
