{% extends "base.html" %}
{% block title %}技术外文分享{% end %}

{% block nav %}
    <li role="presentation"><a href="/article/list">阅读</a></li>
    <li role="presentation" class="active"><a href="/share">分享</a></li>
    {% if current_user %}
      <li role="presentation"><a href="#">{{ current_user['name'] }}</a></li>
    {% else %}
      <li role="presentation"><a href="/">登录</a></li>
    {% end %}
{% end %}

{% block content %}
    {% for share in share_list %}
    <li>
        {{ share.en_title }}
        {{ share.zh_title }}
        <a href="{{ share.url }}"> {{ share.url }}</a>
        <span class="praise" _id="{{ share.id }}">赞:<span class="times">{{ share.good }}</span></span>
    </li>
    {% end %}

    <div>
        <form method="post" action="/share">
            <label>URL：</label><input type="text" name="url"><br>
            <label>英文标题：</label><input type="text" name="en_title"><br>
            <label>中文标题：</label><input type="text" name="zh_title"><br>
            <input type="submit">
        </form>
    </div>
{% end %}

{% block include_js %}
<script>
$(".praise").click(function (){
    var share_item = $(this)
    var _id = share_item.attr('_id')
    $.post("/share/praise", {_id: _id}, function(data) {
        share_item.find('.times').text(data.data.praise_times)
    })
})
</script>
{% end %}