{% extends "test.html" %}
{% block title %}阅读{% end %}
{%block include_head %}
<style>
.media {
    margin: 20px;
    padding: 5px;
}

.media-body {
    padding-top: 5px;
}
</style>
{% end %}

{% block content %}
{% for i, news in enumerate(news_list) %}
    <div class="media">
      <div class="media-left">
      <a href="#">
        <img class="media-object" src="http://7xqirw.com1.z0.glb.clouddn.com/8255800.jpeg" width="64" >
      </a>
    </div>
      <div class="media-body">
        <h5 class="media-heading"><a href="/new/{{news.id}}" style="color: #000000">{{i+1}}.  {{news.title}}</a></h5>
        这只是一个测试～～～～
      </div>
      <div class="media-right">
          <span class="badge">18</span>
      </div>
    </div>
{% end %}
<a href="/news_edit">发布新闻！</a>
{% end %}