<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>聊天室</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
<body>

    <div class="container">
        <h1>{{welcome}}</h1>
        <div class="row">
            <div class="col-lg-11">
                <div id="message"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5" >
                <div class="center-block" id="show_message">
                </div>
            </div>
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="input_message" placeholder="哈哈哈！">
                    </div>
                    <span id="helpBlock" class="help-block">⬆️说点什么吧！</span>
                    <button type="button" class="btn btn-default">发送</button>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
        function get_new_message(){
             $.get("/message", function(data){
                if (data != ""){
                    $("#show_message").append("<font size=\"3\" color=\"red\">" +data+ "</font>" + "<br>")
                }
            })
        }

        $(document).ready(function(){
            setInterval(get_new_message, 1);
            $("button").click(function(){
                $.post("/talk",
                {
                    message:$("#input_message").val()
                },
                function(data){
                    $("#show_message").append(data + "<br>")
                })
            })
        })
    </script>

 </body>

</html>